<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <!-- android:name=".MainActivity"-->
        <!-- android:name=".ATextAndModifiers"-->
        <!-- android:name=".BRowColumnBox"-->
        <!-- android:name=".CAlignmentAndArrangement"-->
        <!-- android:name=".DButtonAndImage"-->
        <!-- android:name=".EState"-->
        <!-- android:name=".FTopAppBar"-->
        <!-- android:name=".g_navigation_drawer.GNavigationDrawer"-->
        <!-- android:name=".h_bottom_navigation.GBottomNavigation"-->
        <!-- android:name=".i_bottom_sheet.IBottomSheet"-->
        <!-- android:name=".j_bottom_nav_drawer_sheet.JBottomNavDrawerSheet"-->
        <!-- android:name=".k_login_page.KLoginPage"-->
        <!-- android:name=".l_list_lazy_column_row.LListLazyColumnRow"-->
        <!-- android:name=".m_constraint_layout.MConstraintLayout"-->
        <!-- android:name=".n_navigation_component.NNavigationComponent"-->
        <!-- android:name=".o_mvvm.OMvvm"-->
        <!-- android:name=".p_floating_action_button.PFloatingActionButton"-->
        <!-- android:name=".q_card.QCard"-->
        <!-- android:name=".r_check_boxes.RCheckBox"-->
        <activity
            android:name=".r_check_boxes.RCheckBox"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>